@page "/Usuarios"
@page "/Usuarios/{CurrentId:int}"
<h3>Usuarios</h3>
@using RegistroOneAP2.Controllers
@using RegistroOneAP2.Models

<EditForm Model="@usuario" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class=" form-group">
        <label for=" UsuarioId">Usuario Id</label>
        <InputNumber @bind-Value="usuario.UsuarioId"></InputNumber>
        <button type="button" class=" btn-primary " @onclick="Buscar">Buscar</button>
        <ValidationMessage For="@(()=>usuario.UsuarioId)" />

    </div>
    <div class="form-group">
        <label for=" Nombre">Nombre</label>
        <InputText @bind-Value="usuario.Nombre" class="form-group" />
        <ValidationMessage For="@(()=>usuario.Nombre)" />
    </div>


    <div class="form-group">
        <label for="Telefono">Telefono</label>
        <InputNumber @bind-Value="usuario.Telefono" class="form-group"></InputNumber>
        <ValidationMessage For="@(()=>usuario.Telefono)" />
    </div>

    <div class="form-group">
        <label for="Cedula">Cedula</label>
        <InputText @bind-Value="usuario.Cedula" class="form-group"></InputText>
        <ValidationMessage For="@(()=>usuario.Cedula)" />
    </div>
    <div class="form-group">
        <label for="Direccion">Direccion</label>
        <InputText @bind-Value="usuario.Direccion" class="form-group"></InputText>
        <ValidationMessage For="@(()=>usuario.Telefono)" />
    </div>
    <div class="form-group">
        <label for="Fecha">Fecha Nacimiento</label>
        <InputDate @bind-Value="usuario.Nacimiento" class="form-group"></InputDate>
        <ValidationMessage For="@(()=>usuario.Nacimiento)" />
    </div>





    <div class="form-group">

        <button type="submit" class="btn btn-primary"> Guardar</button>
        <button type="button" class="btn btn-danger" @onclick="Limpiar">Limpiar</button>
    </div>

    <h5>@Mensaje</h5>




</EditForm>
@code {
    public Usuario usuario = new Usuario();
    public string Mensaje { get; set; }

    [Parameter]
    public int CurrentId { get; set; }
    protected override void OnInitialized()
    {
        UsuarioControllers usuarioControllers = new UsuarioControllers();
        if (CurrentId != 0)
        {
            usuario = usuarioControllers.Buscar(CurrentId);
        }
    }
    public void Guardar()
    {
        UsuarioControllers usuarioControllers = new UsuarioControllers();
        if (usuarioControllers.Guardar(usuario))
        {
            this.usuario = new Usuario ();
            Mensaje = "Guardado";
        }
        else
        {
            this.usuario = new Usuario();
            Mensaje = "Error";

        }

    }
    public void Limpiar()
    {
        this.usuario = new Usuario();
    }
    public void Buscar()
    {
        UsuarioControllers usuarioControllers = new UsuarioControllers();
        var user = usuarioControllers.Buscar(usuario.UsuarioId);



        if (user != null)
        {
            usuario = user;
            Mensaje = "Usuario Encontrado";
        }
        else
        {
            this.usuario = new Usuario();
            Mensaje = "Error";
        }
    }

}
